/* Universal */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main{
  margin: 0 2vw;
}

.app-main{
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.required-field::after {
  content: "*";
  color: red;
  display: inline;
}

/* App */
.left-menu {
  width : 25%;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
}

.brand{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0;
  width: 100%;
}

.brand > *{
  margin: 0;
}

.menu-options{
  list-style: none;
  text-decoration: none;
  width: 100%;
  padding-inline-start: 0px;
  margin: 12vh 0vh;
}


.menu-options button{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a1a1a;
  width: 100%;
  height: 7vh;
  margin: 0.1vh 0vw;
  padding: 0em 2vw;
  font-size: large;
  border-radius: 0px;
}


.manage {
  width : 75%;
  background-color: #f3f3f3;
}
.manage p {
  color: black;
}



/* All pages */

.page-legend{
  color: black;
  padding: 1vh 2vw;
}

.header-across{
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.header-above{
  margin-bottom: 1.5em;
}

.header-id{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.current-user-pic{
  display: flex;
  border-radius: 100px;
  margin-left: 1vw;
  height: 3vw;
  width: 3vw;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: transparent;
  color: black;
  height: 3vh;
  width: 25vw;
}


.more-actions{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.create-button{
  background-color: #9c8ecf;
  color: white
}

.profile{
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 30px;
  margin-right: 1vw;
  display: flex;
    justify-content: center;
    align-items: center;
}


/* User Page */

.list-more-options{
  height: 2vw;
  width: 1vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 30px;
  margin: 2vw;
  background-color: #969696;
}

.hidden-div{
  padding: 1vw;
}

.listed-user:hover{
  background-color: #d1d1d1;
}

.user-data{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-name{
  display: flex; 
  align-items: center;
}

.final-col{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-td{
  display: flex;
  align-items: center;
}

/* Tables */

.data-table{
  background-color: #ffffff;
  border-collapse: collapse;
  width: 100%;
  color: black;
  margin-top: 1em;
}
.data-table td, th {
  text-align: left;
  padding: 1vh 0;
}
.data-table th{
  border: 2px solid #7f7f7f;
  border-style: none none solid none;
  padding: 2vh 0;
}
.data-table input{
  color-scheme: light;
}





/* Modal */
.modal-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3em;
}
.modal-buttons .save{
  background-color: #9c8ecf;
  color: white;
}
.modal-buttons .close{
  background-color:  #d5d5d5;
  color: black;
}
.modal-buttons button {
  height: 4vh;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-x{
  display: flex;
  justify-content: flex-end;
}


/* Forms */
.add-form{
  margin: 0 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.add-form label {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.add-form input{
color-scheme: light;
background-color: transparent;
}

.add-form select, option {
color: black;
}

.add-form select {
width: 100%;
background-color: transparent;
}
.add-form small {
width: 100%;
display: flex;
justify-content: flex-end;
flex-wrap: nowrap;
}

.create-new, .create-new:active, .create-new:focus{
  background: none !important;
  border: none !important;
  padding: 0 !important;
  color: #477eff;
  cursor: pointer;
}
.create-new:active{
  color: #749effbc;
}